<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FITPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source/>
    <class>model.Solicitacaogrupo</class>
    <class>model.Mensagempreconsultoria</class>
    <class>model.Consultoriarealizada</class>
    <class>model.Compartilhamento</class>
    <class>model.Usuariogrupo</class>
    <class>model.Nutricionista</class>
    <class>model.Denuncia</class>
    <class>model.Atleta</class>
    <class>model.Comentariolocal</class>
    <class>model.Chave</class>
    <class>model.Texto</class>
    <class>model.Blog</class>
    <class>model.Relacionamento</class>
    <class>model.Link</class>
    <class>model.Seguidor</class>
    <class>model.Corpo</class>
    <class>model.Personal</class>
    <class>model.Video</class>
    <class>model.Likes</class>
    <class>model.Usuario</class>
    <class>model.Pagamento</class>
    <class>model.Comentariopublicacao</class>
    <class>model.Avaliacaoartigo</class>
    <class>model.Local</class>
    <class>model.Usuarioevento</class>
    <class>model.Profissional</class>
    <class>model.Chatconsultoria</class>
    <class>model.Artigo</class>
    <class>model.Solicitacaorelacionamento</class>
    <class>model.Solicitacaoevento</class>
    <class>model.Consultoria</class>
    <class>model.Mensagemcomum</class>
    <class>model.Imagem</class>
    <class>model.Evento</class>
    <class>model.Grupo</class>
    <class>model.Publicacao</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/fit?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="5bb36aac"/>
    </properties>
  </persistence-unit>
</persistence>
