/*
GLOBAL
*/
body .global-bt{
    font-family: helvetica, arial, sans-serif;    
    padding-bottom: 10px;
}

/*
HEADER
*/
.bt-header{
    background-color: #247448;   
}

.bt-header .header{
    font-family: "Montserrat", arial;
}

.bt-header .header .brand{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.bt-header .header .user-info{
    float: right;
    margin: 10px 0;
    color: #ffffff;    
}

.bt-header .header .user-info > div{
    padding: 20px 0;
}

/*
CONTEUDO
*/
.global-bt article{
    border-radius: 2px;
    margin: 30px auto 20px;
    border: 1px solid #247448;
    width: 800px;
    background-color: #ffffff;
    padding: 10px;
}

/*
CONCLUSAO DE CADASTRO
*/

#finish-register{
    width:100%;
}

#finish-register .btn-group{
    width: 100%;
}

#finish-register .btn-group .img-radio{
    width: 33.33333%;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 5px;
}

#finish-register .btn-group .img-radio:hover{   
    background-color: rgba(36, 116, 72, 0.18);
    border: 1px solid #247448;
}

#finish-register .btn-group .active{   
    background-color: rgba(36, 116, 72, 0.18);
    border: 1px solid #247448;
}

#finish-register .btn-group .img-radio .img-recipe{    
    background-color: #247448;
    text-align: center;
    padding: 10px 5px;
    height: 150px;
}

#finish-register .btn-group .img-radio img{       
    clear: both;
}

#finish-register .btn-group .img-radio .radio-title{
    float: left;
    text-align: center;
    color: #ffffff;    
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 10px;
    background-color: #247448;
}

#finish-register .btn-group .img-radio .radio-info{
    float: left;
    text-align: center;
    color: #333;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #CCCCCC;
}

#finish-register .btn-group .img-radio .radio-info .glyphicon{
    font-weight: bold;
    float: left;
}

#finish-register .btn-group .img-radio .radio-info .glyphicon-thumbs-up{
    color: #3A5795;
}

#finish-register .btn-group .img-radio .radio-info .glyphicon-thumbs-down{
    color: red;
}

#finish-register .btn-group div[class^='col']{
    margin-top: 10px;
    text-align: center;
}





