@font-face {
    font-family: Montserrat;
    src: url('../libs/fonts/Montserrat-Regular.ttf');    
}

a{
   color: #247448;
   cursor: pointer;
}

a:hover{
   color: #247448;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.btn-primary{
    background-color: #3A5795;
    border-radius: 0;
}

.btn-success{
    background-color: #247448;
    border-radius: 0;
    border: 1px solid #247448;
}

.btn-primary:hover{
    background-color: #2F4980;
}

.btn-success:hover{
    background-color: #1B5937;
}

.form-control:focus{
    border-color: #247448;
}

.error-report{
    position: absolute;
    left: 210px;
    padding: 2px;
    background: rgba(139, 3, 0, 0.67);
    color: #FFF;
    font-size: 12px;
    top: 6px;
    width: 180px;
    z-index: 9999;
    border-radius: 4px;
}

.error-pointer{
    position: absolute;
    background-image: url('../img/left-error-pointer.png');
    background-repeat: no-repeat;
    width: 9px;
    height: 20px;
    left: -8px;
    top: 0px;
}

.btn-group > .basic-radio{
    background-color: #ffffff;
    color: #333;
    border-color: #ffffff;
}

.btn-group > .basic-radio:hover{
    background: #247448;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-group > .active{
    background: #247448;
    color: #ffffff;
}

.global-alert{
    padding: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(109, 9, 9, 0.85);
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    bottom: 100px;
    display: none;
}

.global-alert span{
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
    font-weight: normal;
    color: #fff;
}
