/* --------------- HOME ----------------------------------------------------- */
body{
    font-family: "Montserrat", arial;
}

/*
HEADER
*/
.home-header{
    background-color: #247448;    
}

.home-header .header{    
    text-align: right;
}

.home-header .header > div{
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;    
    margin: 35px 20px 10px;
    font-size: 14px;
}

.home-header .header > div:hover{
    color: #cccccc;
    cursor: pointer;
}

/* ICONS */
.home-header .header > div .fa{
    position: absolute;
    top: -23px;
    right: 5px;
    font-size: 18px;    
}

/*
BRAND
*/

.brand{
    text-align: center;
}

.brand .brand-content{
    padding: 60px 0 40px;
}

.brand .brand-content .brand-text{
    font-size: 20px;
    color: #247448;
    margin-top: 5px;
}

.brand .brand-content .brand-buttons{
    margin-top: 20px;
}

.brand .brand-content .brand-buttons button{
    padding: 10px;
}

/*
FORM
*/

.form{
    background-color: #333;
}

.form .form-content{
    max-width: 700px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.form .form-content .form-title{
    color: #ffffff;
    font-size: 60px;
}

.form .form-content .form-minus{
    color: #ffffff;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.form .form-content > div[class^='col']{
    margin-bottom: 7px;
}

.form .form-content > div[class^='col'] > div > span, .form .form-content > .reg-sex > div > span{
    letter-spacing: 2px;
    float: left;
    font-weight: normal;
}

.form .form-content > div[class^='col'] > div, .form .form-content > .reg-sex > div{
    padding-left: 2px;
    padding-right: 2px;
}

.form .form-content > div[class^='col'] > input[type='submit']{
    float: right;
}

.form .form-content > .reg-sex{
    clear: left;
}

.form .form-content > .reg-sex > .btn-group{
   width: 100%
}

.form .form-content > .reg-sex > .btn-group > label{
    width: 50%;
    
}

.form .form-content > .reg-sex > .btn-group > label:first-child{
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.form .form-content > .reg-sex > .btn-group > label:last-child{
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

.form .form-content > div[class^='col'] .be-error-report{
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 0;
}

/*
FOOTER
*/

.home-footer{
    text-align: center;
    margin-top: 10px;
}

.home-footer .footer-item{
    display: inline-block;
    margin: 0 40px;
}
