/*
GLOBAL
*/
body .global-mt{
    font-family: "Montserrat", arial;    
    position: relative;
}

/*
HEADER
*/
.main-menu{
    position: fixed;
    background: #333333;
    width: 220px;
    height: 100%;
}

.main-menu .header-logo{
    margin-top: 20px;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}

.main-menu .menu{
    width: 100%;
    float: left;    
    margin-top: 20px;
    padding-top: 10px;    
}

.main-menu .menu .menu-item{
    width: 100%;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;    
    cursor: pointer;
    font-size: 12px;
    
}

.main-menu .menu .menu-item:hover{
    background: #222222;
}

.main-menu .menu .menu-item span{
    float: right;
    background-color: #ffffff;
    color: #333;
}

.main-menu .menu .menu-title{    
    width: 100%;   
    color: #ffffff;
    text-transform: uppercase;    
    letter-spacing: 1px;
    font-size: 9px;
    padding-left: 5px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #3C3B3B;
}

.main-menu .menu .menu-title:first-child{
    margin-top: 5px;
}

.main-menu .menu .menu-title span{
    float: right;
    margin-right: 3px;
    cursor: pointer;
        
}

.main-menu .menu .menu-title span:hover{
    color: #cccccc;
}

.main-menu .menu .menu-item i{
    margin-right: 5px;
}

/*
CONTENT
*/
.global-mt article{
    padding-left: 225px;   
    min-height: 1200px;
    background-color: #CDD4D0;   
    border-right: 1px solid #247448;
}

/*
TIMELINE
*/

.posts{
    float: left;
    max-width: 630px;
}

.post{
    position: relative !important;
    border: 1px solid #ACCAB9;    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 610px;
    margin: 10px 10px 0;
    padding: 10px;
    float: left;
    background: #ffffff;        
}

.post .post-header{
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.post .post-header .header-img{
    float: left;
    width: 40px;
    height: 40px;    
}

.post .post-header .header-img img{
    width: 100%;
    height: 100%;
}

.post .post-header .header-info{
    float: left;
    margin-left: 10px;
}

.post .post-header .header-info .header-author, .post .post-header .header-info .header-date{
    width: 100%;
    float: left;
}

.post .post-content{
    float: left;
    width: 100%;
    padding-right: 50px;
}

/* IMAGE POST */
.post .post-content .post-image, .post .post-content .post-video{
    margin-top: 10px;    
}

.post .post-content .post-image img{
    max-width: 540px;
    border: 1px solid #777;
    border-radius: 1px;
}

/* VIDEO POST */
.post .post-content .post-video iframe{
    width: 540px;
}

.post .post-data{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;    
    padding: 5px 10px;
}

.post .post-data div{
    margin-bottom: 10px;
}

.post .post-data div span{
    font-size: 16px;
    margin-right: 2px;
}

.post .post-btn{
    float: left;
    width: 100%;
    border-top: 1px solid #E7E7E7;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

.post .post-btn div{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    color: #333333;    
}

.post .post-btn div a{
    color: inherit;
}

.post .post-btn .liked, .post .post-btn div:hover{
    color: #247448;
    font-weight: bold;
}

.post .post-btn div span{
    margin-right: 3px;
}

/* POST COMMENT */
.post-comment{
    float: left;
    margin: 0 10px 10px;
    padding: 0 10px 10px;
    width: 610px;
    background-color: #ffffff;
    border-left: 1px solid #ACCAB9;
    border-right: 1px solid #ACCAB9;
    border-bottom: 1px solid #ACCAB9;
    display: none;
    max-height: 600px;
    overflow: auto;
}

.post-comment .comment-box{
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0;
    position: relative;
    
}

.post-comment .reply-box{
    display: none;
}

.post-comment .reply-box .reply{
    margin-left: 50px;
    border-top: 1px solid #E7E7E7;
    border-bottom: none;
    margin-top: 5px;
}

.post-comment .comment-box .comment-image{
    float: left;
    margin-right: 10px;
}

.post-comment .comment-box .comment-image img{
    width: 40px;
    height: 40px;
}

.post-comment .comment-box .comment-header{
    position: relative;
}

.post-comment .comment-box .comment-header div{
    
}

.post-comment .comment-box .comment-header span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #AAA;
}

.post-comment .comment-box .comment-body{
   
}

.post-comment .comment-box .comment-footer{
    margin-top: 10px;
    text-align: right;
}

.post-comment .comment-box .comment-footer div{    
    display: inline-block;    
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
}

.post-comment .comment-box .comment-footer div:hover{
    color: #247448;
    font-weight: bold;
}

.post-comment .comment-box .comment-footer div span{
    margin-right: 4px;
}

.post-comment textarea{
    
}
